# macOS system files
.DS_Store
.idea/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[codz]
*.pyc
*.so

# Data files
*.mat
*.zip
*.h5
*.hdf5

# Course material
*.pdf

# Results
results/
data/

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Folders to ignore for now
ex2_DemosaicingHDR/
ex3_WriterIdentificationRetrieval/
ex4